In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import os

In [3]:
os.getcwd()

'C:\\Users\\Boniface\\Desktop\\pythonpractice\\DataScience\\group work'

In [5]:
features =pd.read_csv('features.csv')
sampleSubmission =pd.read_csv('sampleSubmission.csv')
test =pd.read_csv('test.csv')
train =pd.read_csv('train.csv')

In [7]:
features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [8]:
sampleSubmission.head()

               Id  Weekly_Sales
0  1_1_2012-11-02             0
1  1_1_2012-11-09             0
2  1_1_2012-11-16             0
3  1_1_2012-11-23             0
4  1_1_2012-11-30             0

In [9]:
train.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [11]:
test.head()

   Store  Dept        Date  IsHoliday
0      1     1  2012-11-02      False
1      1     1  2012-11-09      False
2      1     1  2012-11-16      False
3      1     1  2012-11-23       True
4      1     1  2012-11-30      False

In [12]:
train.describe()

               Store           Dept   Weekly_Sales
count  421570.000000  421570.000000  421570.000000
mean       22.200546      44.260317   15981.258123
std        12.785297      30.492054   22711.183519
min         1.000000       1.000000   -4988.940000
25%        11.000000      18.000000    2079.650000
50%        22.000000      37.000000    7612.030000
75%        33.000000      74.000000   20205.852500
max        45.000000      99.000000  693099.360000

In [13]:
features.describe()

,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
count,8190.000000,8190.000000,8190.000000,4032.000000,2921.000000,3613.000000,3464.000000,4050.000000,7605.000000,7605.000000
mean,23.000000,59.356198,3.405992,7032.371786,3384.176594,1760.100180,3292.935886,4132.216422,172.460809,7.826821
std,12.987966,18.678607,0.431337,9262.747448,8793.583016,11276.462208,6792.329861,13086.690278,39.738346,1.877259
min,1.000000,-7.290000,2.472000,-2781.450000,-265.760000,-179.260000,0.220000,-185.170000,126.064000,3.684000
25%,12.000000,45.902500,3.041000,1577.532500,68.880000,6.600000,304.687500,1440.827500,132.364839,6.634000
50%,23.000000,60.710000,3.513000,4743.580000,364.570000,36.260000,1176.425000,2727.135000,182.764003,7.806000
75%,34.000000,73.880000,3.743000,8923.310000,2153.350000,163.150000,3310.007500,4832.555000,213.932412,8.567000
max,45.000000,101.950000,4.468000,103184.980000,104519.540000,149483.310000,67474.850000,771448.100000,228.976456,14.313000

In [14]:
features.isnull().sum()

Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

In [16]:
features.dtypes

Store             int64
Date             object
Temperature     float64
Fuel_Price      float64
MarkDown1       float64
MarkDown2       float64
MarkDown3       float64
MarkDown4       float64
MarkDown5       float64
CPI             float64
Unemployment    float64
IsHoliday          bool
dtype: object

In [21]:
features.drop(['MarkDown1'], axis=1, inplace =True)

In [22]:
features.drop(['MarkDown2','MarkDown3','MarkDown4','MarkDown5'], axis=1, inplace =True)

In [23]:
features.dtypes

Store             int64
Date             object
Temperature     float64
Fuel_Price      float64
CPI             float64
Unemployment    float64
IsHoliday          bool
dtype: object

In [28]:
features.IsHoliday

0       False
1        True
2       False
3       False
4       False
        ...
8185    False
8186    False
8187    False
8188    False
8189    False
Name: IsHoliday, Length: 8190, dtype: bool

In [33]:
features.rename(columns={"IsHoliday":"is_holiday"}, inplace=True)

In [35]:

features["is_holiday"] = features["is_holiday"].astype(int)

In [36]:
features.dtypes

Store             int64
Date             object
Temperature     float64
Fuel_Price      float64
CPI             float64
Unemployment    float64
is_holiday        int32
dtype: object

In [37]:
features.is_holiday

0       0
1       1
2       0
3       0
4       0
       ..
8185    0
8186    0
8187    0
8188    0
8189    0
Name: is_holiday, Length: 8190, dtype: int32

In [38]:
sns.heatmap(features)

ValueError: could not convert string to float: '2010-02-05'

In [40]:
import datetime as dt

In [42]:
features.Date =features["Date"].apply(lambda x: 
                                    dt.datetime.strptime(x,'%Y-%d-%m'))

ValueError: unconverted data remains: 9

In [44]:
features.describe()

,Store,Temperature,Fuel_Price,CPI,Unemployment,is_holiday
count,8190.000000,8190.000000,8190.000000,7605.000000,7605.000000,8190.000000
mean,23.000000,59.356198,3.405992,172.460809,7.826821,0.071429
std,12.987966,18.678607,0.431337,39.738346,1.877259,0.257555
min,1.000000,-7.290000,2.472000,126.064000,3.684000,0.000000
25%,12.000000,45.902500,3.041000,132.364839,6.634000,0.000000
50%,23.000000,60.710000,3.513000,182.764003,7.806000,0.000000
75%,34.000000,73.880000,3.743000,213.932412,8.567000,0.000000
max,45.000000,101.950000,4.468000,228.976456,14.313000,1.000000

In [45]:
features.dtypes

Store             int64
Date             object
Temperature     float64
Fuel_Price      float64
CPI             float64
Unemployment    float64
is_holiday        int32
dtype: object